@model RoleFormViewModel

@*Partial View*@
<form method="post" asp-action="Create">
    <div class="inpup-group mb-2">
        <input asp-for="Name" class="form-control" />
        <div class="input-group-append" >
            <button type="submit" class="btn btn-success">Add New Role</button>
        </div>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

</form>
